%%-*- mode: erlang -*-

{deps, [
   {'rabbitmq-codegen', ".*", {git, "https://github.com/rabbitmq/rabbitmq-codegen.git", {tag, "master"}}},
   {'rabbitmq-erlang-client', ".*", {git, "https://github.com/rabbitmq/rabbitmq-erlang-client.git", {tag, "master"}}},
   {'rabbitmq-server', ".*", {git, "https://github.com/rabbitmq/rabbitmq-server.git", {tag, "master"}}},
   {cowboy, "0.9.0", {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}}
]}.

{clean_files, ["*.beam", "test/*.beam", "erl_crash.dump"]}.
